#----------------------------------
# Project
#----------------------------------
node_modules/
dist/

#----------------------------------
# Windows
#----------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

#----------------------------------
# Mac
#----------------------------------
.DS_Store
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
